In [1]:
import pandas as pd
import simpledorff

from xrr import xrr

In [2]:
data_full = pd.read_csv(
    "https://raw.githubusercontent.com/google-research-datasets/replication-dataset/master/IREP_data_release.csv",
    )
data_full.head()

,"item_id""",platform,rater,amusement,anger,awe,boredom,concentration,confusion,contemplation,...,pain,pride,realization,relief,sadness,shame,surprise,sympathy,triumph,unsure
0,1,Budapest,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,Budapest,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,Mexico,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,Mexico,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,2,Budapest,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
data_full.rename(columns={'item_id"':"item"}, inplace=True)

# make dataframes
data_full_mexico = data_full[data_full.platform == "Mexico"]
data_full_budapest = data_full[data_full.platform == "Budapest"]
data_full_kl = data_full[data_full.platform == "KualaLumpur"]

In [4]:
# IRR: kripendorff's alpha 
simpledorff.calculate_krippendorffs_alpha_for_df(data_full_budapest, experiment_col='item', annotator_col='rater', class_col='awe')

0.11656922298152361

In [5]:
# IRR: kripendorff's alpha 
simpledorff.calculate_krippendorffs_alpha_for_df(data_full_mexico, experiment_col='item',annotator_col='rater', class_col='awe')

0.11373737925936633

In [6]:
# Comparing Awe agreement in Mexico & Budapest
xRR_object_1 = xrr.xRR(data_full_mexico, data_full_budapest, "awe", "rater", "item")

In [7]:
xRR_object_1.kappa_x()

08/03/2021 19:23:27 PM observed disagreement: 0.07736254520677184
08/03/2021 19:31:09 PM expected disagreement: 0.07356448856358053

-0.051628941046857335

In [8]:
# Comparing Love agreement in Mexico & Kuala Lumpur
xRR_object_2 = xrr.xRR(data_full_mexico, data_full_kl, "love", "rater", "item")

In [9]:
xRR_object_2.kappa_x()

08/03/2021 19:32:27 PM observed disagreement: 0.042280531956841234
08/03/2021 19:33:19 PM expected disagreement: 0.09423026519494368

0.5513062404168001

In [10]:
xRR_object_2.normalized_kappa_x()

0.8721022079969967