In [1]:
import pandas as pd

from xrr.xrr_class import xRR

# IRep Dataset

In [2]:
data_full = pd.read_csv(
    "https://raw.githubusercontent.com/google-research-datasets/replication-dataset/master/IREP_data_release.csv",
    )
data_full.head()

,"item_id""",platform,rater,amusement,anger,awe,boredom,concentration,confusion,contemplation,...,pain,pride,realization,relief,sadness,shame,surprise,sympathy,triumph,unsure
0,1,Budapest,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,Budapest,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,Mexico,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,Mexico,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,2,Budapest,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
data_full.rename(columns={'item_id"':"item"}, inplace=True)

# make dataframes
data_full_mexico = data_full[data_full.platform == "Mexico"]
data_full_budapest = data_full[data_full.platform == "Budapest"]
data_full_kl = data_full[data_full.platform == "KualaLumpur"]

## Comparing *Awe* agreement in Mexico & Budapest

In [4]:
xRR_object_1 = xRR(data_full_mexico, data_full_budapest, "awe", "rater", "item")

08/06/2021 20:09:15 PM NumExpr defaulting to 8 threads.

In [5]:
# X & Y dimensions
(data_full_mexico.shape, data_full_budapest.shape)

((45751, 35), (54516, 35))

In [6]:
# runs ~12 min
xRR_object_1.kappa_x()

08/06/2021 20:09:17 PM observed disagreement: 0.05183709838041826
08/06/2021 20:18:11 PM expected disagreement: 0.05644737356727539

0.08167386532807397

In [7]:
# Normalized using Cohen's Kappa
xRR_object_1.normalized_kappa_x("kappa")

0.7074300015740498

In [22]:
# cannot normalize using Krippendorff's alpha
xRR_object_1._IRR(xRR_object_1.Y_, "alpha")

-0.15743004389229198

In [9]:
# IRR (Cohen's kappa) for Mexico and Budapest
(xRR_object_1._IRR(xRR_object_1.X_, "kappa"), xRR_object_1._IRR(xRR_object_1.Y_, "kappa"))

(0.11996143866974472, 0.11111114061038525)

## Comparing *Love* agreement in Mexico & Kuala Lumpur

In [10]:
xRR_object_2 = xRR(data_full_mexico, data_full_kl, "love", "rater", "item")

In [11]:
# X & Y dimensions
(data_full_mexico.shape, data_full_kl.shape)

((45751, 35), (26811, 35))

In [12]:
# runs ~1 min
xRR_object_2.kappa_x()

08/06/2021 20:19:36 PM observed disagreement: 0.03550560992221386
08/06/2021 20:20:52 PM expected disagreement: 0.08970696937391343

0.6042045543393554

In [13]:
# Normalized using Cohen's Kappa
xRR_object_2.normalized_kappa_x("kappa")

0.9557756686151007

In [14]:
# Normalized using Kripendorff's Alpha
xRR_object_2.normalized_kappa_x("alpha")

1.0468637386622357

# Charts

In [15]:
data_ch = pd.read_csv("sample_data_missing.csv")
data_ch = data_ch.sample(frac=1, random_state=1).reset_index(drop=True)

In [16]:
data_ch_1 = data_ch.iloc[:13560,:]
data_ch_2 = data_ch.iloc[13560:,:]

In [17]:
xRR_object_3 = xRR(data_ch_1, data_ch_2, "answer", "rater", "chart")

In [18]:
xRR_object_3.kappa_x()

08/06/2021 20:21:03 PM observed disagreement: 0.4987779910883307
08/06/2021 20:21:16 PM expected disagreement: 0.500025060693868

0.002494014207621409